.titulo{
    text-align: center;
    color: blue;
    
}

.parrafo{
    text-align: center;
    font-size: large;
    color: green;

}

.cabecera{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background-color: red;
    width: 1800px;
    
    
}